<ng-container *ngIf="!esDetalle; else detalle">
  <form [formGroup]="myForm">
    <div class="row section">
      <div class="col-md-3 control-input">
        <input type="text" placeholder="Nombre, Descripcion..." formControlName="searchText" (keydown.enter)="searchProducts(0)"/>
      </div>
      <div class="col-md-3 control-input">
        <select formControlName="categoryId">
          <option value="">Seleccione una categoria</option>
          <option *ngFor="let category of categories$ | async" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="col-md-3 control-input">
        <input type="text" placeholder="Precio Minimo" formControlName="priceMin" (keydown.enter)="searchProducts(0)"/>
      </div>
      <div class="col-md-3 control-input">
        <input type="text" placeholder="Precio Maximo" formControlName="priceMax" (keydown.enter)="searchProducts(0)"/>
      </div>
    </div>
  </form>

  <div class="row section">
    <div class="col-md-3 button-panel">
      <button #searchButton class="btn-search" type="button" (click)="searchProducts(0)">
        <span class="bi bi-search"></span>
      </button>
      <button class="btn-search" type="button" (click)="resetFilters()">
        <span class="bi bi-backspace"></span>
      </button>
      <button class="btn-search" type="button" (click)="sortToLowerPrice()">
        <span class="bi bi-sort-numeric-down"></span>
      </button>
      <button class="btn-search" type="button" (click)="sortToGraterPrice()">
        <span class="bi bi-sort-numeric-up"></span>
      </button>
      <button class="btn-search" type="button" (click)="sortByRelevance()">
        <span class="bi bi-sort-alpha-down"></span>
      </button>
    </div>

  </div>

  <app-paginator
    [show]="products && products.length > 0"
  ></app-paginator>

  <div class="row section" *ngIf="products">
    <app-table [cols]="cols" title="Products" [data]="products" (itemSelected)="onProductSelected($event)"></app-table>
  </div>

  <app-paginator
    [show]="products && products.length > 5"
  ></app-paginator>
</ng-container>

<ng-template #detalle>
  <app-product-detail [productId]="productSelected.id" (back)="onBack($event)"></app-product-detail>
</ng-template>




