.section {
  margin: 20px 0;
}
.control-input{
  display: flex;
}
.control-input input,
.control-input select{
  width: 100%;
}
.btn-search {
  width: 75px;
}
.button-panel {
  display: flex;
  column-gap: 10px;
}
