<div class="container-root">
  <button class="btn-search back-button" type="button" (click)="goBack()">
    <span class="bi bi-arrow-left-circle"></span>
  </button>


  <ng-container *ngIf="{product: product$ | async, description: description$ | async} as data">
    <ng-container *ngIf="data.product && data.description">
      <h6>{{data.product.title}}</h6>
      <p class="justify">{{data.description.plain_text}}</p>
      <p> Special Price <span class="bold">{{data.product.price | priceFormat}}</span></p>
      <p *ngIf="data.product.original_price"> List Price <span class="tachado">{{data.product.original_price | priceFormat}}</span></p>
      <div class="image-container">
        <img *ngFor="let picture of data.product.pictures" [src]="picture.url" alt="img" class="responsive-image">
      </div>
    </ng-container>
  </ng-container>

<!--  <pre>{{ product$ |async| json }}</pre>-->
<!--  <pre>{{ description$ | async | json }}</pre>-->
</div>





