.responsive-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  display: block;
  border: solid black 1px;
}
.image-container {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.back-button {
  width: 45px;
  margin: 15px 0;
}

.container-root {
  margin: 0 15px;
}

.bold {
  font-weight: bold;
}

.tachado {
  text-decoration: line-through;
}

.justify {
  text-align: justify;
}
