.spinner {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6); /* Red background with 50% opacity */
  width: 100%;
  height: 100vh;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: ghostwhite;
}
