<div class="row section" *ngIf="show">
  <div class="col-md-12">
    <button class="btn-search" type="button" (click)="getFirstPage()" [disabled]="isFirstOne()">
      <span class="bi bi-chevron-bar-left"></span>
    </button>
    <button class="btn-search" type="button" (click)="getPreviousPage()" [disabled]="isFirstOne()">
      <span class="bi bi-chevron-left"></span>
    </button>
    <button class="btn-search" type="button" (click)="getNextPage()" [disabled]="isLastOne()">
      <span class="bi bi-chevron-right"></span>
    </button>
    <button class="btn-search" type="button" (click)="getLastpage()"  [disabled]="isLastOne()">
      <span class="bi bi-chevron-bar-right"></span>
    </button>
    <div class="mt-2"> (Results {{totalItems}})</div>
  </div>
</div>
