table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ddd;
  /*margin: 20px 5px;*/
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4CAF50;
  color: black;
}

th, td {
  border: 1px solid #ddd;
}

th {
  text-align: left;
  background-color: #f2f2f2;
}

.cursor-pointer {
  cursor: pointer;
}
.row-data:hover{
  background-color: rgba(192, 192, 192, 0.6); /* Gris claro con opacidad */
}
