<ng-container *ngIf="data.length > 0; else noData">
  <h3>{{title}}</h3>
  <table>
    <tr>
      <th *ngFor="let col of cols"> {{col.displayName}} </th>
    </tr>
    <tr *ngFor="let item of data" class="cursor-pointer row-data">
      <td *ngFor="let col of cols" (click)="onClickItem(item)">

        <ng-container [ngSwitch]="col.type">
          <ng-template [ngSwitchCase]="'img'">
            <img [src]="item[col.key]" alt=""/>
          </ng-template>
          <ng-template [ngSwitchCase]="'coma-price'">
            {{item[col.key] | priceFormat}}
          </ng-template>
          <ng-template ngSwitchDefault>
            {{item[col.key]}}
          </ng-template>
        </ng-container>

      </td>
    </tr>
  </table>
</ng-container>
<ng-template #noData>
  No hay datos para listar
</ng-template>
